# Mengabaikan folder node_modules di mana pun berada (termasuk di dalam backend)
node_modules/

# Mengabaikan file environment variables (SANGAT PENTING UNTUK KEAMANAN)
.env
backend/.env

# Mengabaikan file log dari npm
npm-debug.log
npm-error.log

# Mengabaikan file dari sistem operasi / IDE
.vscode/
.DS_Store
Thumbs.db